
.body {
      font-family: 'Roboto', 'Raleway', sans-serif;
  }

/**
  |============================
  | Custom styles
  |============================
*/

.list,ul,ol {
    list-style: none;
}

.link,a {
    text-decoration: none;
    color: currentColor;
}
  
.btn,button {
    font-family: 'Roboto';
    cursor: pointer;
  }

/**
  |============================
  | Header styles
  |============================
*/
.header {
    background-color: #ffffff;
}

.header-nav {}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0,03em;
    text-transform: uppercase;
  
}

.web {
    color: #4D5AE5;
}

.studio-dark {
    color: #2E2F42;
}

.studio-light {
    color: #F4F4FD
}

.header-list {}

.header-item {}

.header-link {}

.header-address {
  font-style: normal;
}

.header-address-list {}

.header-address-item {}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.adress-link:hover,
.adress-link:focus {
  color: #404BBF;
}

/**
  |============================
  | Hero styles
  |============================
*/
.section {}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {

}

/**
  |============================
  | Filter styles
  |============================
*/

.section {}

.filter {}

.filter-nav {}

.filter-list {}

.filter-item {}

.filter-button {}

/**
  |============================
  | Feautures styles
  |============================
*/
.section {}

.feautures {}

.feautures-list {}

.feautures-item {}

.feautures-title {}

.feautures-prgrph {}

/**
  |============================
  | Webstudio styles
  |============================
*/
.section {}

.webstudio {}

.sebstudio-title {}

.wsbstudio-list {}

.webstudio-item {}

.webstudio-image {}

/**
  |============================
  | Team styles
  |============================
*/
.section {}

.team {}

.team-title {}

.team-list {}

.team-item {}

.team-image {}

.designers-team-title {}

.team-prgrph {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/**
  |============================
  | Project styles
  |============================
*/
.project {}

.project-list {}

.project-item {}

.project-link {}

.project-image {}

.project-title {}

.project-par {}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
    background-color: #2E2F42;
}

.footer-logo {}

.footer-prgrph {
    font-family: 'Roboto';
    ont-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}